<h1>
  {{name}}
</h1>
<ul >
  <a *ngFor="let year of years" [routerLink]="'/lista/' + name + '/' +  year">
    <li [class.isActive]="isActive(year)">
      {{year}}
    </li>
  </a>
</ul>

<table *ngIf="actYear != ''">
  <thead>
    <tr>
      <th>Strona Tytułowa</th>
      <th>plik</th>
      <th>pismo</th>
      <th>darczyńcy</th>
    </tr>
  </thead>

  <magazine-details *ngFor="let magazine of magazineCollection" [magazineData]="magazine" [magazineName]="name"></magazine-details>

</table>

<button (click)="goToHome()">Wróć</button>
