<main *ngIf="getVal() != 666.666">
  <div>
    <span>Wpisz zarobki z poprzedniego roku</span>
    <input type="password" [value]="value" #input [(ngModel)]="value" (keypress)="onlyNumberKey(input.value, $event)">
    <span>PLN</span>
  </div>
  <div>I tak widzimy że twoje zarobki to: {{getVal()}}zł</div>
</main>
<main *ngIf="getVal() == 666.666">
  <div>

    <router-outlet></router-outlet>
  </div>

</main>

<aside>
  <div class="clock">{{time.toLocaleDateString('pl-PL', {}) + " " + time.toLocaleTimeString('pl-PL', {})}}</div>
</aside>

