
  <td>
    <img [src]="getImageSorce()" alt="miniaturka czasopisma">
  </td>
  <td>
    <p>
      format: <strong>{{getAttr("format")}}</strong><br>
      stron: <strong>{{getAttr("stron")}}</strong><br>
      plik: <a [href]='getFileSorce()'>tutaj</a>
    </p>

  </td>
  <td>
    <p>
      nazwa: <strong>{{getAttr("nazwa")}}</strong><br>
      numer: <strong>{{getAttr("numer")}}</strong><br>
      wydawca: <strong>{{getAttr("wydawca")}}</strong>
    </p>
  </td>
  <td>
    <p>
      skan: <strong>{{getAttr("skan")}}</strong><br>
      przetworzenie: <strong>{{getAttr("przetworzenie")}}</strong><br>
      podesłał: <strong>{{getAttr("podeslal")}}</strong>
    </p>

  </td>

