:host{

  display: table-row;

  td{
    border: 1px solid whitesmoke;
    padding: 10px;
    height: 50px;
    img{
      display: block;
    }
    p {
      position: relative;
      top: -190px;
      height: 100%;
      width: 100%;
    }
  }
}

